@CHARSET "UTF-8";

body {
	text-align: center;
}

/* Tabla para sacar la lista de productos */
.CSSTable {
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align:left;
}
.CSSTable table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto 0 auto;
	padding: .28rem;
	border: 5px;
	width: 50%;
}

.CSSTable tbody {
	border: 5px;
}

.CSSTable th {
	padding: .28rem;
	border: 5px;
	background-color: #005fbf;
	text-align: center;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}

.CSSTable tr {
	padding: .28rem;
	border: 5px;
}

.CSSTable tr:nth-child(odd) {
	background-color: #aad4ff;
}

.CSSTable tr:nth-child(odd):hover {
	background-color: #ffff00;
}

.CSSTable tr:nth-child(even) {
	background-color: #ffffff;
}

.CSSTable tr:nth-child(even):hover {
	background-color: #ffff00;
}

.CSSTable td {
	padding: .28rem;
	border: 5px;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}

/* Tabla para sacar los detalles */

.TableDetalles {
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align:left;
}

.TableDetalles table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto 0 auto;
	padding: .28rem;
	border: 5px;
	width: 30%;
}

.TableDetalles tbody {
	border: 5px;
}

.TableDetalles th {
	padding: .28rem;
	border: 5px;
	background-color: #3f7f00;
	text-align: center;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}

.TableDetalles tr {
	padding: .28rem;
	border: 5px;
}

.TableDetalles tr:hover {
	background-color: #ffffff;
}

.TableDetalles td {
	vertical-align: middle;
	background-color: #d4ffaa;
	border: 5px;
	text-align: left;
	padding: .28rem;
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9g8nml');
	src:url('fonts/icomoon.eot?#iefix-9g8nml') format('embedded-opentype'),
		url('fonts/icomoon.woff?-9g8nml') format('woff'),
		url('fonts/icomoon.ttf?-9g8nml') format('truetype'),
		url('fonts/icomoon.svg?-9g8nml#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eliminar:before {
	content: "\45";
}
.icon-buscar:before {
	content: "\42";
}
.icon-ver:before {
	content: "\56";
}